<mat-card-content>
  {{ pais.nomePais }}
  <img class="example-option-img" aria-hidden [src]="pais.urlFotoPais" height="25">
</mat-card-content>

<mat-card>{{ receita.nomeReceita }}   
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>favorite</mat-icon>
</button></mat-card>
<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
         ingredientes
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <p>
        {{ receita.ingrediente }}
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modo de Preparo
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ receita.modoPreparo }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rendimento
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ receita.rendimento }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Tempo de Preparo
</mat-panel-title>
<mat-panel-description>

</mat-panel-description>
</mat-expansion-panel-header>
<p>{{ receita.tempoPreparo }}</p>
</mat-expansion-panel>
  </mat-accordion>
  