<mat-card-content>
  <img class="example-option-img" aria-hidden [src]="pais.urlFotoPais" height="25">  
  {{ pais.nomePais }}
  <a mat-button color="primary" routerLink="/receitas/cadastrar"> <mat-icon matListIcon>restaurant</mat-icon>
    <span>Cadastrar Receita</span> </a>
</mat-card-content>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let receita of pais.receitas">
    <mat-card class="receitas">
        <mat-card-title> {{ receita.nomeReceita }} </mat-card-title>
        <mat-card-subtitle>{{ receita.rendimento }}</mat-card-subtitle>
        <mat-card-subtitle>{{ receita.tempoPreparo }}</mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions> 
          <a mat-button color="primary" routerLink="/paises/deletarreceita/{{ receita._id }}/{{ pais._id }}"> Excluir </a>
            <button mat-button>SHARE</button> 
            <a href="/receitas/detalhes/{{ receita._id }}">
              <button mat-button color="primary">Detalhes</button> 
            </a>


        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>   
  </mat-grid-list>

  
  
  