<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
            <div class="conteudo-usuario">    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
            </div>
            
            <div class="conteudo-usuario">    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Senha">
          </mat-form-field>
        </div>
        </mat-card-content>

        <button mat-raised-button color="warn" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>