<mat-card>
    <mat-card-title> Nova Receita </mat-card-title>
    <mat-card-content>  
        <div class="receita">
          <mat-card>
            <mat-card-content>

              
              <div class="conteudo-receita">
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nome do Pais</mat-label>
                    <input type="text"
                           placeholder="Digite o Nome do Pais"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"                         
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption 
                    #auto="matAutocomplete">
                      <mat-option 
                      *ngFor="let option of filteredOptions | async" [value]="option._id"
                      
                      
                      >                        
                        <img class="example-option-img" aria-hidden [src]="option.urlFotoPais" height="25">
                        <span>{{option.nomePais}}</span> |
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>

              <div class="conteudo-receita"> 
                <mat-form-field>
                  <mat-label for="nomeReceita">Nome da Receita </mat-label>
                  <input matInput placeholder="nomeReceita" type="text" name="nomeReceita" [(ngModel)]="nomeReceita" />
                </mat-form-field>
              </div> 

              <div class="conteudo-receita">                  
                <mat-form-field>
                  <mat-label for="ingrediente">Ingredientes</mat-label>
                  <input matInput placeholder="ingrediente" type="text" name="ingrediente" [(ngModel)]="ingrediente" />
                </mat-form-field>
              </div> 

              <div class="conteudo-receita">                  
                <mat-form-field>
                  <mat-label for="modoPreparo">Modo de Preparo</mat-label>
                  <input matInput placeholder="modoPreparo" type="text" name="modoPreparo" [(ngModel)]="modoPreparo" />
                </mat-form-field>
              </div> 

              <div class="conteudo-receita">                  
                <mat-form-field>
                  <mat-label for="tempoPreparo">Tempo de Preparo</mat-label>
                  <input matInput placeholder="tempoPreparo" type="text" name="tempoPreparo" [(ngModel)]="tempoPreparo" />
                </mat-form-field>
              </div> 

              <div class="conteudo-receita">                  
                <mat-form-field>
                  <mat-label for="rendimento">Rendimento</mat-label>
                  <input matInput placeholder="rendimento" type="text" name="rendimento" [(ngModel)]="rendimento" />
                </mat-form-field>
              </div> 
                     
            </mat-card-content>
          </mat-card>
        </div>             
  
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="cadastrar()">Cadastrar</button>
        <a mat-stroked-button routerLink="/receitas/listar"> Listar Receitas </a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  

