<mat-sidenav-container>
    <mat-sidenav opened mode="side" fixedInViewport fixedTopGap="64">
        <mat-list>
            <a mat-list-item routerLink="">
                <mat-icon matListIcon>home</mat-icon>
                <span>Pagina Principal</span>
            </a>
            <a mat-list-item routerLink="paises/cadastrar">
                <mat-icon matListIcon>public</mat-icon>
                <span>Cadastrar Pais</span>
            </a>
            <a mat-list-item routerLink="paises/listar">
                <mat-icon matListIcon>public</mat-icon>
                <span>Listar Pais</span>
            </a>
            <a mat-list-item routerLink="usuarios/cadastrar">
                <mat-icon matListIcon>person</mat-icon>
                <span>Cadastrar Usuário</span>
            </a>
            <a mat-list-item routerLink="usuarios/listar">
                <mat-icon matListIcon>person</mat-icon>
                <span>Listar Usuário</span>
            </a>

            <a mat-list-item routerLink="receitas/cadastrar">
                <mat-icon matListIcon>restaurant</mat-icon>
                <span>Cadastrar Receita</span>
            </a>
            <a mat-list-item routerLink="receitas/listar">
                <mat-icon matListIcon>restaurant</mat-icon>
                <span>Listar Receitas</span>
            </a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

